@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff3f3;
    --foreground: #ededed;
  }
} */

input[type="text"] {
  color: white;
  background-color: black;
  padding: 2px;
}
